@import url(https://fonts.google.com/specimen/Work+Sans);
body {
    font-family:specimen sans-serif;
    font-weight: 400;
    background-color:white;
}

#faq-main {
    width: 350px;
    height:auto;
    margin: auto;
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
}

h2 {
    display: inline;
    color: hsl(292, 42%, 14%);
    font-size: 27px;
}
h2:hover {
    color: hsl(292, 16%, 49%);   
}

p {
    color: hsl(275, 100%, 80%);
    font-size: 16px;
}
.button-icon-plus {
    height: 20px;
    width: 20px;
    display: inline;
}

