@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color:hsl(275, 100%, 96%);
    margin: 0;
    padding: 0;
    height: 2000px;
}
#font-img{
    width: 100%;
    margin: 0;
    position: relative;
}


#faq-main {
    width: 520px;
    height: auto;
    background-color: white;
    position: relative;
    padding: 40px 40px 10px 40px;
    margin: auto;
    margin-top: auto;
    border-radius: 10px;
    margin-top: -145px;
}

#shadow {
    width: 600px;
    height:auto;
    background-color: white;
    box-shadow: 0px 10px 10px 30px  hsl(275, 100%, 94%);
    margin: auto;
    border-radius: 10px;
    
}

#img-star {
    width:32px;
    margin-right: 25px;
    transform: scale(115%);
}

h1 {
  color:hsl(292, 42%, 14%);
  font-weight: 700;
  font-size: 52px;
  margin: 0 0 0 0;
}

.accordion {
    margin: 35px 0 65px 0;
    
}
.inline-align {
    position: relative;
}

h2 {
    display: inline-block;
    color: hsl(292, 42%, 14%);
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

h2:hover {
    color: hsl(275, 100%, 65%);   
}

.button-icon-plus {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

p {
    color: hsl(292, 16%, 49%);
    font-size: 16px;
    display: none;
    margin: 25px 0px 5px 0px;
    line-height: 22px;
}

.first-onglet {
    display: block;
}

@media screen and (max-width:600px) 
{
    #font-img {
        width: 100%;
        margin: 0;
        position: relative;
        transform: scale(400%)translate(10px);
    }

    #shadow {
        width: 90%;
    }
    #faq-main {
        width: auto;
        margin-top: 20px;
    }
    #img-star {
        width:20px;
        margin-right: 25px;
    }
    h1 {
        font-size: 26px;
        margin: 0;
    }
    
    .accordion {
        margin: 30px 0 30px 0;
    }

    h2 {
        width: 80%;
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
    

}